.wrapper{
    width: 500px;
    margin: 0 auto;
}
.ant-col {
    margin-bottom: 18px;
}
.center{
    margin: 0 auto;
}
.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
    overflow-x: initial !important;
}